/* RULES */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "", sans-serif;
}

body {
  background-color: #e9edee;
}
/* UTILITY */

/* HEADER */
header {
}

.logo {
  height: 100px;
  background-color: #222f3f;
  width: 100%;
}

.logo img {
  max-width: 100%;
  max-height: 80px;
  padding-left: 25px;
  padding-top: 10px;
}

.nav {
  height: 50px;
  background-color: #364759;
  width: 100%;
  position: relative;
}

.nav ul {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

.nav li {
  display: inline-block;
}
/* MAIN */
main {
  padding: 0 25px 25px 25px;
}

main section {
  margin: 50px 0 50px;
}

.top-banner {
  height: 50px;
  background-color: #f56600;
  text-align: center;
  position: relative;
}

.top-banner h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner {
  background-image: url(../images/bg-image.png);
  background-size: contain;
  height: 250px;
  text-align: center;
  position: relative;
}
.banner img {
  width: 100%;
}

.banner h3 {
  color: white;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner h2 {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  background-color: white;
}

.card-img {
  text-align: center;
}

.card-img img {
  display: inline-block;
  margin: 25px;
  width: 12%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 25px;
  height: 460px;
  box-shadow: 5px 10px 5px #80808082;
}

.banner-bottom {
  height: 500px;
}

.banner-bottom img {
  width: 100%;
  object-fit: cover;
  height: inherit;
}

/* FOOTER */
.top-footer {
  height: 50px;
  background-color: #364759;
  text-align: center;
  position: relative;
}

.top-footer a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer {
  background-color: #222f3f;
  width: 100%;
  text-align: center;
  position: relative;
  height: 200px;
}
.footer img {
  width: 15%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}
